<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDSQL.Properties.Settings.stringConexao" connectionString="Data Source=CHARMANDER;Initial Catalog=cadastro;Persist Security Info=True;User ID=joareis;Password=kakashi13"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>